* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

h2 {
  font-size: 18px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: none;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 15px;
  z-index: 999;
}

.logo {
  height: 80px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #00c3ff;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

/* Teljes képernyős szekciók */
.section {
  height: 120vh;
  padding: 80px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  position: relative;
}

#home {
  background-image: url("homályos\ battery.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#webshop { background: #3c3451; }
#about { background: #44405c; }
#contact { background: #4e4a6c; }

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    flex-direction: column;
    background: #f8e3c8;
    padding: 10px;
    border-radius: 10px;
  } 

  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
} 


